/* 
body {
  background-color: #46CFC8; }
*/

body {
  background-color: #cccccc; 
  background-image: url(//swimtopia.s3.amazonaws.com/77/files/water_bg.png?1361593264);
  background-attachment: fixed; }

#wrapper #header #top_nav_bar {
  background-color: #0a6531; }

#wrapper #header h1, #wrapper #header h2 {
  color: #222222; }

#wrapper #header #top_nav_bar a {
  color: white; }

#wrapper #header #top_nav_bar #manage_menu.active {
  background-color: white;
  color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu.background {
  background-color: white; }

#wrapper #header #top_nav_bar #manage_menu #sub ul li {
  color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu #sub ul li {
  color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu #sub ul li:hover {
  color: white;
  background-color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu li.active {
  color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu #sub ul li a {
  color: #0a6531; }

#wrapper #header #top_nav_bar #manage_menu #sub ul li.spacer {
  background-color: #0a6531; }

#wrapper #navigation {
  background-color: #0a6531; }

#wrapper #navigation ul li a {
  color: white; }

#wrapper #navigation ul li a:hover {
  color: #9af6c9; }

#wrapper #navigation ul li ul {
  background: #1fc466; }

#wrapper #navigation ul li ul li {
  border-top: 1px solid #0a6531; }

#wrapper #navigation ul li.active a {
  color: #0a6531; }

#wrapper #navigation ul li.active ul a {
  color: #0a6531; }

/* link color for the site*/
#wrapper #container a, #wrapper #container #content a {
color: #43b02a;
text-decoration: none;
font-weight: bold; 
}

#wrapper #container a:hover, #wrapper #container #content a:hover {
color: #1e630e;
text-decoration: underline;  
}

#wrapper #container h1, #wrapper #container h2, #wrapper #container h3, #wrapper #container h4 {
  color: #0a6531; }

#wrapper #container #secondary_navigation ul li a {
  color: #0a6531; }

#wrapper #container #secondary_navigation ul li a:hover {
  color: #c7c7c7; }

#wrapper #footer ul li a {
  color: white; }

#wrapper #footer ul li a:hover {
  color: white; }

#wrapper #container .snippet.narrow .wrapper .snippet_top {
  background-color: #0a6531; }

#wrapper #container .snippet.narrow .wrapper .snippet_top .link {
  background-color: #222222; }

#wrapper #container .snippet.twitter_profile a {
  color: #0a6531 !important; }

#wrapper #container .snippet.announcement_snippet.normal {
  background-image: none;
  background-color: white; }

#wrapper #container a.button, #wrapper #container input.button {
  background-color: #222222;
  color: white; }

#wrapper #container .subnav strong a {
  background-color: #1fc466;
  color: white; }

#wrapper #container .subnav strong.active a, #wrapper #container .subnav strong.active.completed a {
  background-color: #222222;
  color: white; }

#wrapper #container .subnav strong.completed a {
  background-color: #0a6531;
  color: white; }

/* from shared.css */
.required_desc {
  background-color: #cccccc; }

table thead tr th {
  background: #0a6531; }

table tbody tr:hover {
  background: inherit; }

table .hint {
  color: #cccccc; }

.entry tr {
  border-bottom: 1px solid #cccccc; }

/* Pool Records Table */
#wrapper #container #content .pool_records_table, #wrapper #container #content .pool_records_table th, #wrapper #container #content .pool_records_table td{
  border: 1px solid black;
}

#wrapper #container #content .pool_records_table th{
  background-color: #0a6531;
 color: #FFFFFF;
vertical-align: top;
}

#wrapper #container #content .pool_records_table td,
.qTimesTbl2 td{
	font-size:0.8em; 
}

#wrapper #container #content .pool_records_table tr:hover{background-color: #BFFED6;}

#tableLeft{
	float:left;
	width:45%;
}
#tableRight{
	float:right;
	width:45%;
}

.qTimesTbl, .qTimesTbl th, .qTimesTbl td{
	border: 1px solid black;
}

.qTimesTbl th{
	background-color: #afd898;
	vertical-align: top;
}

.qTimesTbl th.heading{
	background-color: white;
}

.qTimesTbl tr:hover{
background-color: #dfffcd;
}

.r{
text-align: right;
}

th{
padding:0.4em;
}

td p, th p{
 margin:0;
padding:0;
}

/*Used in a test table*/
#wrapper #container #content .pool_records_table td.header{
 font-size: 1em;
 background-color: #0a6531;
 color: #FFFFFF;
 font-weight: bold;
}

#wrapper #container #secondary_navigation ul li li.active a {
  color: #000000; }

/* 
From w3c schools website
Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
padding-right:25px;
/* Image copied from https://en.wikipedia.org/wiki/File:Information_grey.svg */
background: #0a6531
 url("https://swimtopia.s3.amazonaws.com/77/files/Information_green.png?1461558297") no-repeat right top;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 310px;
top: 100%;
    left: 50%; 
    margin-left: -155px;
    background-color: black;
   text-align:left;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}