/* Material Design Color Pallete for Website */
$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/* Legacy Website Colors */
/*
$legacy-color-primary: 		#1B5E20
$legacy-color-secondary:	#4CAF50
*/

/*
dark green: #0a6531
  - secondary nav container
grey: #ccc
  - body background-color
dark grey: #222
	- almost black
	- top nav headers (1,2)
white #FFFFFF
light green: #9af6c9
mid green: #43b02a
kinda dark green: #1e630e;
grey: #c7c7c7
mid green: #1fc466
mid green: #1e630e  (content a:hover)
very light green: #dfffcd
*/

