body {
  background-repeat: no-repeat;
  background-size: 100% 50%;
  /* background-image: is set on the swimtopia basic website settings page as it automates upload of the asset. */
}

#wrapper #navigation, .st-system-menu {
  background-color: black;
}
